@model Grillbot.Models.Unverify.UnverifyInfo;

<div class="card bg-transparent mb-3">
    <div class="card-header">
        <h4 class="card-title mb-0">@Model.Profile.DestinationUser.GetFullName()</h4>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-4 font-weight-bold">ID</div>
                    <div class="col">@Model.Profile.DestinationUser.Id (@Model.ID)</div>
                </div>

                <div class="row">
                    <div class="col-4 font-weight-bold">Start:</div>
                    <div class="col">@Model.Profile.StartDateTime.ToLocaleDatetime()</div>
                </div>

                <div class="row">
                    <div class="col-4 font-weight-bold">Konec:</div>
                    <div class="col">@Model.Profile.EndDateTime.ToLocaleDatetime()</div>
                </div>

                <div class="row">
                    <div class="col-4 font-weight-bold">Konec za:</div>
                    <div class="col">@((Model.Profile.EndDateTime - DateTime.Now).ToFullCzechTimeString())</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 font-weight-bold">Důvod:</div>
                    <div class="col">@Model.Profile.Reason</div>
                </div>
            </div>
        </div>

        <h4>Role</h4>
        @if (Model.Profile.RolesToKeep.Count > 0)
        {
            <h5>Ponechané</h5>
            <div class="row mb-2">
                <div class="col-md-12">
                    @foreach (var role in Model.Profile.RolesToKeep)
                    {
                        <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                            @role.Name
                        </span>
                    }
                </div>
            </div>
        }

        @if (Model.Profile.RolesToRemove.Count > 0)
        {
            <h5>Odebrané</h5>
            <div class="row">
                <div class="col-md-12">
                    @foreach (var role in Model.Profile.RolesToRemove)
                    {
                        <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                            @role.Name
                        </span>
                    }
                </div>
            </div>
        }

        <h4 class="mt-3">Kanály</h4>
        @if (Model.Profile.ChannelsToKeep.Count > 0)
        {
            <h5>Ponechané</h5>
            <div class="row mb-2">
                <div class="col-md-12">
                    @foreach (var channel in Model.Profile.ChannelsToKeep)
                    {
                        <span class="badge badge-secondary">
                            @channel.Channel.Name
                        </span>
                    }
                </div>
            </div>
        }

        @if (Model.Profile.ChannelsToRemove.Count > 0)
        {
            <h5>Odebrané</h5>
            <div class="row">
                <div class="col-md-12">
                    @foreach (var channel in Model.Profile.ChannelsToRemove)
                    {
                        <span class="badge badge-secondary">
                            @channel.Channel.Name
                        </span>
                    }
                </div>
            </div>
        }
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-end">
            <a class="btn btn-danger" asp-action="RemoveAccess" asp-route-id="@Model.ID">Vrátit přístup</a>
        </div>
    </div>
</div>
