@model Grillbot.Models.Unverify.UnverifyAuditViewModel;

@{
    ViewData["Title"] = "Unverify - Audit log";

    string getLeftBorderClass(UnverifyLogOperation operation)
    {
        switch (operation)
        {
            case UnverifyLogOperation.Autoremove:
            case UnverifyLogOperation.Remove:
                return "success";
            case UnverifyLogOperation.Selfunverify:
                return "primary";
            case UnverifyLogOperation.Unverify:
                return "danger";
            case UnverifyLogOperation.Update:
                return "info";
            default:
                return "white";
        }
    }
}

<div class="mt-3 mr-3 ml-3">
    <div class="d-flex justify-content-center">
        <form method="post" class="card" style="width: 1100px">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="FormData.GuildID">Server</label>
                        <select class="form-control" asp-for="FormData.GuildID">
                            @foreach (var guild in Model.Guilds)
                            {
                                <option value="@guild.Id">@guild.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Request.FromUserQuery">Volající</label>
                        <input class="form-control" asp-for="FormData.FromUserQuery" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="FormData.ToUserQuery">Cílový uživatel</label>
                        <input class="form-control" asp-for="FormData.ToUserQuery" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="Request.Operation">Operace</label>
                        <select class="form-control" asp-for="FormData.Operation" asp-items="Html.GetEnumSelectList<Grillbot.Database.Enums.UnverifyLogOperation>()">
                            <option value="">Nezáleží</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Request.DateTimeFrom">Datum a čas od</label>
                        <input type="datetime-local" class="form-control" asp-for="FormData.DateTimeFrom">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Request.DateTimeTo">Datum a čas do</label>
                        <input type="datetime-local" class="form-control" asp-for="FormData.DateTimeTo">
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="form-row">
                    <div class="col-md-5">
                        <input type="radio" asp-for="FormData.OrderAsc" value="true" id="ASC_ORDER" /> <label for="ASC_ORDER" class="mb-0">Vzestupně</label><br />
                        <input type="radio" asp-for="FormData.OrderAsc" value="false" id="DESC_ORDER" /> <label for="DESC_ORDER" class="mb-0">Sestupně</label>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center">
                        <div class="form-group mb-0">
                            <label for="FormData.Page" class="m-0"><small>Strana</small></label>
                            <input type="number" class="form-control form-control-sm" asp-for="FormData.Page" min="0">
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-4 d-flex justify-content-end align-items-end">
                        <button type="submit" class="btn btn-primary">Potvrdit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="d-block mb-3 w-100" style="max-width: 1700px;">
            @foreach (var item in Model.LogItems)
            {
                <div class="card mt-3 only-border-left border-@getLeftBorderClass(item.Operation) two-px-border">
                    <div class="card-body p-2 pb-0">
                        <table class="table table-sm table-striped mb-0">
                            <tr>
                                <th style="width: 200px">ID:</th>
                                <td>@item.ID</td>
                            </tr>

                            <tr>
                                <th>Operace:</th>
                                <td>@item.Operation</td>
                            </tr>

                            <tr>
                                <th>Datum a čas:</th>
                                <td>@item.DateTime.ToLocaleDatetime()</td>
                            </tr>

                            <tr>
                                <th>Od uživatele</th>
                                <td>@item.FromUser.GetFullName()</td>
                            </tr>

                            <tr>
                                <th class="bottom-bold-border">Cílový uživatel:</th>
                                <td class="bottom-bold-border">@item.ToUser.GetFullName()</td>
                            </tr>

                            @if (item.Operation == UnverifyLogOperation.Autoremove || item.Operation == UnverifyLogOperation.Remove)
                            {
                                <tr>
                                    <th>Vrácené role:</th>
                                    <td>
                                        @foreach (var role in item.RemoveData.ReturnedRoles)
                                        {
                                            <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                                                @role.Name
                                            </span>
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <th>Vrácené kanály:</th>
                                    @if (item.RemoveData.ReturnedChannels.Count > 0)
                                    {
                                        <td>@string.Join(", ", item.RemoveData.ReturnedChannels.Select(o => $"#{o.Name}"))</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                </tr>
                            }
                            else if (item.Operation == UnverifyLogOperation.Update)
                            {
                                <tr>
                                    <th>Začátek:</th>
                                    <td>@item.UpdateData.StartDateTime.ToLocaleDatetime()</td>
                                </tr>

                                <tr>
                                    <th>Konec:</th>
                                    <td>@item.UpdateData.EndDateTime.ToLocaleDatetime()</td>
                                </tr>
                            }
                            else if (item.Operation == UnverifyLogOperation.Selfunverify || item.Operation == UnverifyLogOperation.Unverify)
                            {
                                <tr>
                                    <th>Začátek:</th>
                                    <td>@item.Profile.StartDateTime.ToLocaleDatetime()</td>
                                </tr>

                                <tr>
                                    <th>Konec:</th>
                                    <td>@item.Profile.EndDateTime.ToLocaleDatetime()</td>
                                </tr>

                                <tr>
                                    <th>Ponechané role:</th>
                                    @if (item.Profile.RolesToKeep.Count > 0)
                                    {
                                        <td>
                                            @foreach (var role in item.Profile.RolesToKeep)
                                            {
                                                <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                                                    @role.Name
                                                </span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                </tr>

                                <tr>
                                    <th>Odebrané role</th>
                                    @if (item.Profile.RolesToRemove.Count > 0)
                                    {
                                        <td>
                                            @foreach (var role in item.Profile.RolesToRemove)
                                            {
                                                <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                                                    @role.Name
                                                </span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                </tr>

                                <tr>
                                    <th>Ponechané kanály</th>
                                    @if (item.Profile.ChannelsToKeep.Count > 0)
                                    {
                                        <td>@string.Join(", ", item.Profile.ChannelsToKeep.Select(o => $"#{o.Channel.Name}"))</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                </tr>

                                <tr>
                                    <th>Odebrané kanály</th>
                                    @if (item.Profile.ChannelsToRemove.Count > 0)
                                    {
                                        <td>@string.Join(", ", item.Profile.ChannelsToRemove.Select(o => $"#{o.Channel.Name}"))</td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                </tr>

                                @if (item.Operation == UnverifyLogOperation.Unverify)
                                {
                                    <tr>
                                        <th>Důvod</th>
                                        <td>@item.Profile.Reason</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>