@model Grillbot.Models.Audit.DiscordAuditLog.Role;

<div class="row mt-3">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">ID role:</div>
            <div class="col">@Model.RoleId</div>
        </div>

        <div class="row">
            <div class="col-4 font-weight-bold">Barva:</div>
            <div class="col">
                <span class="badge" style="background-color: @Model.Color; width: 100px">&nbsp;</span>
            </div>
        </div>


    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-4 font-weight-bold">Název:</div>
            <div class="col">@Model.Name</div>
        </div>

        <div class="row">
            <div class="col-4 font-weight-bold">Tagovatelné:</div>
            <div class="col">@Model.Mentionable.TranslateToCz()</div>
        </div>

        <div class="row">
            <div class="col-4 font-weight-bold">Vyčleněno v liště:</div>
            <div class="col">@Model.IsHoisted.TranslateToCz()</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Oprávnění</h5>

        @foreach(var perm in Model.GuildPerms.ToList())
        {
            <span class="badge badge-light">
                @perm.ToString()
            </span>
        }
    </div>
</div>