@using Grillbot.Models.Users;
@model WebAdminUserListViewModel;

@{
    ViewData["Title"] = "Uživatelé webové administace";

    if (Model.Pagination != null)
    {
        Model.Pagination.PaginationKey = "Filter.Page";
        Model.Pagination.WithCounts = true;
    }
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h3 class="card-title font-weight-light mb-0 pb-0">Uživatelé</h3>
        </div>

        <form method="get" class="card-header">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Filter.GuildID">Server</label>
                    <select class="form-control" asp-for="Filter.GuildID">
                        @foreach (var guild in Model.Guilds)
                        {
                            <option value="@guild.Id">@guild.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Filter.FromUserQuery">Uživatelské jméno</label>
                    <input class="form-control" asp-for="Filter.UserQuery" />
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Filter.InviteCode">Kód pozvánky</label>
                    <input class="form-control" asp-for="Filter.UsedInviteCode" />
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="webadmin" asp-for="Filter.WebAdmin">
                        <label class="custom-control-label" for="webadmin">WebAdmin přístup</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="api" asp-for="Filter.ApiAccess">
                        <label class="custom-control-label" for="api">API přístup</label>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="botadmin" asp-for="Filter.BotAdmin">
                        <label class="custom-control-label" for="botadmin">Bot Admin</label>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="d-flex flex-wrap">
                        @foreach (var item in Html.GetEnumSelectList<WebAdminUserOrder>())
                        {
                            <span class="mr-3">
                                @Html.RadioButtonFor(o => o.Filter.Order, (WebAdminUserOrder)Convert.ToInt32(item.Value), new { id = $"Order_{item.Value}" })
                                <label for="Order_@item.Value" class="mb-0">@item.Text</label>
                            </span>
                        }
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sortdesc" asp-for="Filter.SortDesc">
                        <label class="custom-control-label" for="sortdesc">Sestupně</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-10 mt-3"></div>

                <div class="col-md-2 mt-3 d-flex justify-content-between align-items-end">
                    <button class="btn btn-danger" type="button" onclick="clearFilter(false)">Vyčistit</button>
                    <button type="submit" class="btn btn-success">Potvrdit</button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <table class="table table-sm">
                <thead class="table-bordered">
                    <tr>
                        <th rowspan="2">Uživatel</th>
                        <th rowspan="2">Práva</th>
                        <th rowspan="2">Server</th>
                        <th rowspan="2">Body</th>
                        <th colspan="2" class="text-center">Reakce</th>
                        <th rowspan="2">Pozvánka</th>
                    </tr>
                    <tr>
                        <th>Udělené</th>
                        <th>Získané</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                <a asp-action="UserInfo" asp-route-id="@user.ID">
                                    @user.User.GetFullName()
                                </a>
                            </td>
                            <td>
                                <span class="badge badge-@(user.IsBotAdmin ? "success" : "danger")">BotAdmin</span>
                                <span class="badge badge-@(user.ApiAccess ? "success" : "danger")">API</span>
                                <span class="badge badge-@(user.WebAdminAccess ? "success" : "danger")">WebAdmin</span>
                            </td>
                            <td>@user.Guild.Name</td>
                            <td>@user.Points.FormatWithSpaces()</td>
                            <td>@user.GivenReactionsCount.FormatWithSpaces()</td>
                            <td>@user.ObtainedReactionsCount.FormatWithSpaces()</td>
                            <td>@(user.UsedInvite?.Code ?? "-")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <partial name="PaginationPartialView" model="Model.Pagination" />
            </div>
        </div>
    </div>
</div>
