@using Grillbot.Models.Users;
@model WebAdminUserListViewModel;

@{
    ViewData["Title"] = "Uživatelé webové administace";
}

<section class="mt-3 row ml-0 mr-0">
    <div class="col-md-12">
        <form method="get" class="card ml-auto mr-auto" style="width: 1100px">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="Filter.GuildID">Server</label>
                        <select class="form-control" asp-for="Filter.GuildID">
                            @foreach (var guild in Model.Guilds)
                            {
                                <option value="@guild.Id">@guild.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Filter.FromUserQuery">Volající</label>
                        <input class="form-control" asp-for="Filter.UserQuery" />
                    </div>
                    <div class="col-md-4">
                        <label for="Filter.Order">Řadit podle sloupce</label>
                        <select class="form-control" asp-for="Filter.Order" asp-items="Html.GetEnumSelectList<WebAdminUserOrder>()">
                        </select>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="sortDesc" asp-for="Filter.SortDesc">
                            <label class="custom-control-label" for="sortDesc">Sestupně</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="Filter.InviteCode">Kód pozvánky</label>
                        <input class="form-control" asp-for="Filter.UsedInviteCode" />
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="Filter.Page">Strana</label>
                        <input type="number" class="form-control form-control-sm" asp-for="Filter.Page" min="0">
                    </div>

                    <div class="col-md d-flex justify-content-end align-items-end">
                        <button type="submit" class="btn btn-primary">Potvrdit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12 mt-3 ml-auto mr-auto" style="max-width: 1920px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Uživatel</th>
                    <th>Server</th>
                    <th>Body</th>
                    <th>Reakce</th>
                    <th>Počet zpráv</th>
                    <th>Pozvánka</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.ID</td>
                        <td>
                            @user.User.GetFullName()

                            @if (!user.User.IsUser())
                            {
                                <span class="badge badge-secondary">Bot</span>
                            }

                            @if (user.WebAdminAccess)
                            {
                                <span class="badge badge-success">WebAdmin</span>
                            }

                            @if (user.User.IsGuildOwner())
                            {
                                <span class="badge badge-dark">GuildOwner</span>
                            }
                        </td>
                        <td>@user.Guild.Name</td>
                        <td>@user.Points.FormatWithSpaces()</td>
                        <td>@user.GivenReactionsCount.FormatWithSpaces() / @user.ObtainedReactionsCount.FormatWithSpaces()</td>
                        <td>@user.TotalMessageCount.FormatWithSpaces()</td>
                        <td>@(user.UsedInvite?.Code ?? "-")</td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="UserInfo" asp-route-userId="@user.ID">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>