@using Grillbot.Models.Users;
@using Discord;

@model WebAdminUserInfoViewModel;

@{
    if (Model.User.User == null)
    {
        ViewData["Title"] = "Informace o neznámém uživateli";
    }
    else
    {
        ViewData["Title"] = "Informace o uživateli " + Model.User.User.GetFullName();
    }

    string getStatusBadge(UserStatus status)
    {
        return status switch
        {
            UserStatus.AFK => "warning",
            UserStatus.DoNotDisturb => "danger",
            UserStatus.Idle => "warning",
            UserStatus.Online => "success",
            _ => "secondary"
        };
    }

    var anyButtonVisible = Model.User.IsWebAdminBanned;
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h5 class="card-title mb-0 pb-0 font-weight-normal">
                @(Model.User.User?.GetFullName() ?? "Neexistující uživatel")
                @if (Model.User.User != null)
                {
                    <small>
                        <span class="badge badge-@getStatusBadge(Model.User.User.Status)">@Model.User.User.Status</span>

                        @if (!Model.User.User.IsUser())
                        {
                            <span class="badge badge-secondary">Bot</span>
                        }
                    </small>
                }
            </h5>
        </div>

        @if (anyButtonVisible)
        {
            <div class="card-header action-buttons">
                @if (Model.User.IsWebAdminBanned)
                {
                    <a class="btn btn-secondary btn-sm" asp-route-id="@Model.User.ID" asp-action="Unblock">Odblokovat</a>
                }
            </div>
        }

        <div class="card-body">
            <div class="row">
                <div class="col-3" style="max-width: 200px">
                    @if (Model.User.User == null)
                    {
                        <img height="150" width="150" src="@Discord.CDN.GetDefaultUserAvatarUrl(0)" alt="Unknown user" class="rounded-circle border" style="border-width: 5px !important" />
                    }
                    else
                    {
                        <img height="150" width="150" src="@Model.User.User.GetUserAvatarUrl(size: 512)" alt="@Model.User.User.GetFullName()" class="rounded-circle border border-@getStatusBadge(Model.User.User.Status)" style="border-width: 5px !important" />
                    }
                </div>

                <div class="col">
                    <div>
                        Server<br />
                        <b>@Model.User.Guild.Name</b>
                    </div>

                    <div class="mt-4">
                        <span class="badge badge-@(Model.User.WebAdminAccess ? (Model.User.WebAdminBannedTo == null ? "success" : "warning") : "danger")" title="Přístup do webové administrace @(Model.User.WebAdminBannedTo != null ? "(Přístup dočasně pozastaven)" : "")">WebAdmin</span>
                        <span class="badge badge-@(Model.User.ApiAccess ? "success" : "danger")" title="Přístup k REST API">API</span>
                        <span class="badge badge-@(Model.User.Birthday != null ? "success" : "danger")" title="Uživatel má uloženy narozeniny.">Birthday</span>
                        <span class="badge badge-@(Model.User.IsBotAdmin ? "success" : "danger")" title="Nejvyšší administrátor bota">BotAdmin</span>
                    </div>
                </div>
            </div>

            @if (Model.User.User != null)
            {
                <div class="row mt-3">
                    <div class="col-12">
                        <h4>Role</h4>

                        <div>
                            @foreach (var role in Model.User.User.Roles)
                            {
                                <span class="badge @(ColorHelper.IsDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                                    @role.Name
                                </span>
                            }
                        </div>

                        <h4 class="mt-2">Práva</h4>
                        <div>
                            @if (Model.User.User.GuildPermissions.Administrator)
                            {
                                <span class="badge" style="background-color: black">Administrator</span>
                            }
                            else
                            {
                                @foreach (var permission in Model.User.User.GuildPermissions.ToList())
                                {
                                    <span class="badge" style="background-color: black">@permission.ToString()</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-4">
                <div class="col-3">
                    Body<br />
                    <b>@Model.User.Points.FormatWithSpaces()</b>
                </div>

                <div class="col-3">
                    Počet zpráv<br />
                    <b>@Model.User.TotalMessageCount.FormatWithSpaces()</b>
                </div>

                <div class="col-3">
                    Uděleno reakcí<br />
                    <b>@Model.User.GivenReactionsCount.FormatWithSpaces()</b>
                </div>

                <div class="col-3">
                    Získáno reakcí<br />
                    <b>@Model.User.ObtainedReactionsCount.FormatWithSpaces()</b>
                </div>
            </div>

            @if (Model.User.User != null)
            {
                <div class="row mt-2">
                    <div class="col-3">
                        Registrován<br />
                        <b>@Model.User.User.CreatedAt.LocalDateTime.ToLocaleDatetime()</b>
                    </div>

                    <div class="col-3">
                        Připojen<br />
                        <b>@Model.User.User.JoinedAt.Value.LocalDateTime.ToLocaleDatetime()</b>
                    </div>

                    <div class="col-3">
                        Boost od<br />

                        <b>
                            @if (Model.User.User.PremiumSince != null)
                            {
                                @Model.User.User.PremiumSince.Value.LocalDateTime.ToLocaleDatetime()
                            }
                            else
                            {
                                <text>Boost nenalezen</text>
                            }
                        </b>
                    </div>

                    @if (Model.User.User.Status != UserStatus.Offline)
                    {
                        <div class="col-3">
                            Aktivní klienti<br />
                            <b>@string.Join(", ", Model.User.User.ActiveClients)</b>
                        </div>
                    }
                </div>
            }

            @if (Model.User.WebAdminLoginCount != null || Model.User.ApiAccessCount != null || Model.User.UnverifyEndsAt != null
             || Model.User.WebAdminBannedTo != null)
            {
                <div class="row mt-2">
                    @if (Model.User.ApiAccessCount != null)
                    {
                        <div class="col-3">
                            Počet volání API<br />
                            <b>@Model.User.ApiAccessCount.Value.FormatWithSpaces()</b>
                        </div>

                    }

                    @if (Model.User.WebAdminLoginCount != null)
                    {
                        <div class="col-3">
                            Počet přihlášení<br />
                            <b>@Model.User.WebAdminLoginCount.Value.FormatWithSpaces()</b>
                        </div>
                    }

                    @if (Model.User.UnverifyEndsAt != null)
                    {
                        <div class="col-3">
                            Konec unverify<br />
                            <b>@Model.User.UnverifyEndsAt.Value.ToLocaleDatetime()</b>
                        </div>
                    }

                    @if (Model.User.WebAdminBannedTo != null)
                    {
                        <div class="col-3">
                            Konec blokace webu<br />
                            <b>@Model.User.WebAdminBannedTo.Value.ToLocaleDatetime()</b>
                        </div>
                    }
                </div>
            }

            @if (Model.User.UsedInvite != null)
            {
                <div class="row mt-2">
                    <div class="col-12">
                        Použitá pozvánka
                        <partial name="InvitePartialView" model="Model.User.UsedInvite" />
                    </div>
                </div>
            }

            <h4 class="mt-4">Aktivita v kanálech</h4>
            @if (Model.User.Channels.Count == 0)
            {
                <div class="text-center">
                    Žádná aktivita v kanálech ještě nebyla zaznamenána.
                </div>
            }
            else
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Kanál</th>
                            <th>Počet zpráv</th>
                            <th>Poslední zpráva</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var channel in Model.User.Channels)
                        {
                            <tr>
                                <td>#@channel.Channel.Name</td>
                                <td>@channel.Count.FormatWithSpaces()</td>
                                <td>@channel.LastMessageAt.ToLocaleDatetime()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <h4 class="mt-4">Unverify historie</h4>
            <h5>Obdržená</h5>
            @if (Model.User.UnverifyHistory.Count == 0)
            {
                <div class="text-center">
                    Uživatel ještě nikdy neobdržel unverify.
                </div>
            }
            else
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Typ</th>
                            <th>Kdy</th>
                            <th>Provedl</th>
                            <th>Čas</th>
                            <th>Poč. rolí</th>
                            <th>Poč.kanálů</th>
                            <th>Důvod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var unverify in Model.User.UnverifyHistory)
                        {
                            <tr>
                                <td>@unverify.Operation</td>
                                <td>@unverify.DateTime.ToLocaleDatetime()</td>
                                <td>@(unverify.FromUser?.GetFullName() ?? "Neznámý uživatel")</td>
                                <td>@((unverify.Profile.EndDateTime - unverify.Profile.StartDateTime).ToFullCzechTimeString())</td>
                                <td>@unverify.Profile.RolesToRemove.Count.FormatWithSpaces()</td>
                                <td>@unverify.Profile.ChannelsToRemove.Count.FormatWithSpaces()</td>

                                <td>
                                    <button class="badge badge-secondary border-0" data-toggle="modal" data-target="#modal" data-title-text="Důvod unverify #@unverify.ID" data-body-text="@unverify.Profile.Reason">Zobrazit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <h5>Udělená</h5>
            @if (Model.User.GivenUnverifyHistory.Count == 0)
            {
                <div class="text-center">
                    Uživatel ještě nikdy neudělil unverify.
                </div>
            }
            else
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Typ</th>
                            <th>Kdy</th>
                            <th>Uděleno uživateli</th>
                            <th>Čas</th>
                            <th>Poč. rolí</th>
                            <th>Poč.kanálů</th>
                            <th>Důvod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var unverify in Model.User.GivenUnverifyHistory)
                        {
                            <tr>
                                <td>@unverify.Operation</td>
                                <td>@unverify.DateTime.ToLocaleDatetime()</td>
                                <td>@(unverify.ToUser?.GetFullName() ?? "Neznámý uživatel")</td>
                                <td>@((unverify.Profile.EndDateTime - unverify.Profile.StartDateTime).ToFullCzechTimeString())</td>
                                <td>@unverify.Profile.RolesToRemove.Count.FormatWithSpaces()</td>
                                <td>@unverify.Profile.ChannelsToRemove.Count.FormatWithSpaces()</td>

                                <td>
                                    <button class="badge badge-secondary border-0" data-toggle="modal" data-target="#modal" data-title-text="Důvod unverify #@unverify.ID" data-body-text="@unverify.Profile.Reason">Zobrazit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <h4 class="mt-4">Připomenutí</h4>
            @if (Model.User.Reminders.Count == 0)
            {
                <div class="text-center">
                    Uživatel ještě nedostal žádné připomenutí.
                </div>
            }
            else
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Kdy</th>
                            <th>Od</th>
                            <th>Počet odložení</th>
                            <th>Připomenutí odesláno</th>
                            <th>Zpráva</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var remind in Model.User.Reminders)
                        {
                            <tr>
                                <td>@remind.At.ToLocaleDatetime()</td>
                                <td>@(remind.FromUser == null ? "" : remind.FromUser.GetFullName())</td>
                                <td>@remind.PostponeCounter.FormatWithSpaces()</td>
                                <td>@remind.WasNotified.TranslateToCz()</td>
                                <td>
                                    <button class="badge badge-secondary border-0" data-toggle="modal" data-target="#modal" data-title-text="Zpráva k připomenutí" data-body-text="@remind.Message">Zobrazit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <h4 class="mt-4">Vytvořené pozvánky</h4>
            @if (Model.User.CreatedInvites.Count == 0)
            {
                <div class="text-center">
                    Uživatel ještě nevytvořil žádnou pozvánku.
                </div>
            }
            else
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Kód</th>
                            <th>Datum a čas</th>
                            <th>Počet použití</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invite in Model.User.CreatedInvites)
                        {
                            <tr>
                                <td>@invite.Code</td>
                                <td>@invite.CreatedAt.Value.LocalDateTime.ToLocaleDatetime()</td>
                                <td>@invite.Uses.Value.FormatWithSpaces()</td>
                                <td>
                                    <a href="/Admin/Users?Filter.GuildID=@Model.User.Guild.Id&Filter.UsedInviteCode=@invite.Code"
                                       class="badge badge-secondary text-decoration-none">Seznam</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
