@model Grillbot.Models.CallStats.CallStatsViewModel;

@{
    ViewData["Title"] = "Kompletní statistiky volání";
    ViewData["Admin"] = true;
}

<section>
    <div class="card mt-2">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Skupina</th>
                        <th>Příkaz</th>
                        <th>Server</th>
                        <th>Počet volání</th>
                        <th>Počet oprávnění</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Commands)
                    {
                        <tr>
                            <td>@item.Group</td>
                            <td>@item.Command</td>
                            <td>@item.Guild</td>
                            <td>@FormatHelper.FormatWithSpaces(item.CallsCount)</td>
                            <td>@FormatHelper.FormatWithSpaces(item.PermissionsCount)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>