@model Grillbot.Models.BotStatus.WebStatus;

@{
    ViewData["Title"] = "Stav bota";
}

<section class="card-group mb-3 mt-3">
    <div class="card">
        <div class="card-header">
            <h2>Obecné</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4 font-weight-bold">Větev:</div>
                <div class="col">@Model.Simple.InstanceType</div>
            </div>

            <div class="row">
                <div class="col-4 font-weight-bold">Aktivní CPU čas:</div>
                <div class="col">@Model.Simple.ActiveCpuTime</div>
            </div>

            <div class="row">
                <div class="col-4 font-weight-bold">Uptime:</div>
                <div class="col">@(DateTime.Now - Model.Simple.StartTime)</div>
            </div>

            <div class="row">
                <div class="col-4 font-weight-bold">Využití RAM:</div>
                <div class="col">@Model.Simple.RamUsage</div>
            </div>

            <div class="row">
                <div class="col-4 font-weight-bold">Spuštěno v:</div>
                <div class="col">@Model.Simple.StartTime</div>
            </div>

            <div class="row">
                <div class="col-4 font-weight-bold">Počet vláken:</div>
                <div class="col">@Model.Simple.ThreadStatus</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Volání příkazů</h2>
        </div>

        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Příkaz</th>
                        <th>Počet volání</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var statItem in Model.ExecutedCommands)
                    {
                        <tr>
                            <td>@statItem.Key</td>
                            <td>@FormatHelper.FormatWithSpaces(statItem.Value)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Logger</h2>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Událost</th>
                        <th>Počet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LoggerStats)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@FormatHelper.FormatWithSpaces(item.Value)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="card-group">
    <div class="card">
        <div class="card-header">
            <h2>Události</h2>
        </div>

        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Událost</th>
                        <th>Počet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TriggeredEvents)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@FormatHelper.FormatWithSpaces(item.Value)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Databáze</h2>
        </div>
        
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Tabulka</th>
                        <th>Počet záznamů</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in Model.DBStatus)
                    {
                        <tr>
                            <td>@table.Key</td>
                            <td>@FormatHelper.FormatWithSpaces(table.Value)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
