@model Grillbot.Models.BotStatus.WebStatisticsViewModel;

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h4 class="card-title mb-0 pb-0 font-weight-normal">Reporty - Statistiky webu</h4>
        </div>

        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Uživatel</th>
                        <th>Server</th>
                        <th>Počet přihlášení (Web)</th>
                        <th>Počet přístupů (REST API)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Users" asp-action="UserInfo" asp-route-id="@user.Id">@user.User.GetFullName()</a>
                            </td>
                            <td>@user.Guild.Name</td>
                            <td>@(user.HaveWebAdminAccess ? (user.WebAdminLoginCount ?? 0).FormatWithSpaces() : "-")</td>
                            <td>@(user.HaveApiAccess ? (user.ApiCallCount ?? 0).FormatWithSpaces() : "-")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>