@model Grillbot.Models.Audit.AuditViewModel;

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h3 class="card-title font-weight-light mb-0 pb-0">Logování provozu</h3>
        </div>

        <form method="get" class="card-header">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Filter.GuildID">Server</label>
                    <select class="form-control" asp-for="Filter.GuildId">
                        @foreach (var guild in Model.Guilds)
                        {
                            <option value="@guild.Id">@guild.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-4 mb-0">
                    <label for="Filter.FromUserQuery">Uživatelské jméno</label>
                    <input class="form-control" asp-for="Filter.UserQuery" />

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="anonymous" asp-for="Filter.IncludeAnonymous">
                        <label class="custom-control-label" for="anonymous">Včetně anonymních</label>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="Request.DateTimeFrom">Datum a čas od</label>
                    <input type="datetime-local" class="form-control" asp-for="Filter.From">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="Request.Operation">Typ</label>
                    <select class="form-control" asp-for="Filter.Type" asp-items="Html.GetEnumSelectList<AuditLogType>()">
                        <option value="">Nezáleží</option>
                    </select>
                </div>

                <div class="col-md-4"></div>

                <div class="col-md-4 mb-3">
                    <label for="Request.DateTimeTo">Datum a čas do</label>
                    <input type="datetime-local" class="form-control" asp-for="Filter.To">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <div class="d-flex flex-wrap">
                        @foreach (var item in Html.GetEnumSelectList<AuditLogOrder>())
                        {
                            <span class="mr-3">
                                @Html.RadioButtonFor(o => o.Filter.Order, (AuditLogOrder)Convert.ToInt32(item.Value), new { id = $"Order_{item.Value}" })
                                <label for="Order_@item.Value" class="mb-0">@item.Text</label>
                            </span>
                        }
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sortdesc" asp-for="Filter.SortDesc">
                        <label class="custom-control-label" for="sortdesc">Sestupně</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 d-flex justify-content-start mt-3">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item @(!Model.PaginationInfo.CanPrev ? "disabled" : "")">
                            <button class="page-link" onclick="switchPage(@(Model.PaginationInfo.Page - 1), 'Filter.Page')" type="button">Vpřed</button>
                        </li>
                        <li class="page-item">
                            <span class="page-link">@Model.PaginationInfo.Page / @Model.PaginationInfo.PagesCount</span>
                        </li>
                        <li class="page-item @(!Model.PaginationInfo.CanNext ? "disabled" : "")">
                            <button class="page-link" onclick="switchPage(@(Model.PaginationInfo.Page + 1), 'Filter.Page')" type="button">Vpřed</button>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6"></div>

                <div class="col-md-2 d-flex justify-content-between align-items-end">
                    <button class="btn btn-danger" type="button" onclick="clearFilter(false)">Vyčistit</button>
                    <button type="submit" class="btn btn-success">Potvrdit</button>
                </div>
            </div>
        </form>

        <div class="card-body">
            @foreach (var item in Model.Items)
            {
                <div class="card bg-dark mb-3">
                    <div class="card-header">
                        #@item.Id - @item.Type.GetDisplayName()
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Zapsáno:</div>
                                    <div class="col">@item.CreatedAt.ToLocaleDatetime()</div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Provedl:</div>
                                    <div class="col">
                                        @if (item.User == null)
                                        {
                                            <text>Neznámý uživatel, nebo bot</text>
                                        }
                                        else
                                        {
                                            @item.User.User.GetFullName();
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        @switch (item.Type)
                        {
                            case AuditLogType.Command:
                                <partial name="~/Views/AuditLog/LogViews/CommandPartialView.cshtml" model="item.CommandAuditData" />
                                break;
                            case AuditLogType.UserLeft:
                                <partial name="~/Views/AuditLog/LogViews/UserLeftPartialView.cshtml" model="item.UserLeftAuditData" />
                                break;
                        }
                    </div>

                    <div class="card-footer d-flex justify-content-end align-items-end">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>