@using Grillbot.Models.Users;
@using Discord;

@model WebAdminUserInfoViewModel;

@{
    ViewData["Title"] = "Informace o uživateli " + Model.User.User.GetFullName();

    string getStatusBadge(UserStatus status)
    {
        return status switch
        {
            UserStatus.AFK => "warning",
            UserStatus.DoNotDisturb => "danger",
            UserStatus.Idle => "warning",
            UserStatus.Online => "success",
            _ => "secondary"
        };
    }

    bool isDark(Color color)
    {
        var hsp = Math.Sqrt((0.299 * Math.Pow(color.R, 2)) + (0.587 * Math.Pow(color.G, 2)) + (0.114 * Math.Pow(color.B, 2)));
        return !(hsp > 127.5);
    }
}

<section class="mt-3 row d-flex justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="row no-gutters d-flex justify-content-start">
                <div class="col-md-auto">
                    <img height="250" src="@Model.User.User.GetUserAvatarUrl(size: 512)" width="250" alt="@Model.User.User.GetFullName()" />
                </div>
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                            <span class="mr-3">
                                @Model.User.Guild.Name<br />
                                @Model.User.User.GetFullName()
                            </span>

                            <span style="font-size: 70%">
                                <span class="badge badge-@getStatusBadge(Model.User.User.Status)">@Model.User.User.Status</span>

                                @if (!Model.User.User.IsUser())
                                {
                                    <span class="badge badge-secondary">Bot</span>
                                }

                                @if (Model.User.WebAdminAccess)
                                {
                                    <span class="badge badge-success" title="Přístup do webové administrace">WebAdmin</span>
                                }

                                @if(Model.User.User.IsGuildOwner())
                                {
                                    <span class="badge badge-dark" title="Vlastník serveru @Model.User.Guild.Name">GuildOwner</span>
                                }
                            </span>
                        </h4>

                        <div class="card-text">
                            <div class="d-flex justify-content-between">
                                <div class="col">
                                    <table class="table table-sm table-borderless">
                                        <tr>
                                            <th class="pb-0">Body: </th>
                                            <td class="pb-0">@FormatHelper.FormatWithSpaces(Model.User.Points)</td>
                                        </tr>

                                        <tr>
                                            <th class="pb-0">Udělených reakcí: </th>
                                            <td class="pb-0">@FormatHelper.FormatWithSpaces(Model.User.GivenReactionsCount)</td>
                                        </tr>

                                        <tr>
                                            <th class="pb-0">Obdržených reakcí: </th>
                                            <td class="pb-0">@FormatHelper.FormatWithSpaces(Model.User.ObtainedReactionsCount)</td>
                                        </tr>

                                        <tr>
                                            <th class="pb-0">Počet zpráv: </th>
                                            <td class="pb-0">@FormatHelper.FormatWithSpaces(Model.User.TotalMessageCount)</td>
                                        </tr>

                                        @if (Model.User.User.VoiceChannel != null)
                                        {
                                            <tr>
                                                <th class="pb-0">Hlasový kanál:</th>
                                                <td class="pb-0">@Model.User.User.VoiceChannel.Name</td>
                                            </tr>
                                        }

                                        <tr>
                                            <th class="pb-0">Registrován:</th>
                                            <td class="pb-0">@Model.User.User.CreatedAt.LocalDateTime.ToLocaleDatetime()</td>
                                        </tr>

                                        <tr>
                                            <th class="pb-0">Připojen:</th>
                                            <td class="pb-0">@Model.User.User.JoinedAt.Value.LocalDateTime.ToLocaleDatetime()</td>
                                        </tr>

                                        @if (Model.User.User.PremiumSince != null)
                                        {
                                            <tr>
                                                <th class="pb-0">Boost od:</th>
                                                <td class="pb-0">@Model.User.User.PremiumSince.Value.LocalDateTime.ToLocaleDatetime()</td>
                                            </tr>
                                        }
                                    </table>
                                </div>

                                <div class="col">
                                    <div>
                                        <b>Role:</b><br />
                                        @foreach (var role in Model.User.User.Roles)
                                        {
                                            <span class="badge @(isDark(role.Color) ? "text-white" : "")" style="background-color: @role.Color.ToString()">
                                                @role.Name
                                            </span>
                                        }
                                    </div>

                                    <div class="mt-2">
                                        <b>Práva:</b><br />

                                        @if (Model.User.User.GuildPermissions.Administrator)
                                        {
                                            <span class="badge">Administrator</span>
                                        }
                                        else
                                        {
                                            @foreach (var permission in Model.User.User.GuildPermissions.ToList())
                                            {
                                                <span class="badge">@permission.ToString()</span>
                                            }
                                        }
                                    </div>

                                    @if (Model.User.User.ActiveClients != null && Model.User.User.ActiveClients.Count > 0)
                                    {
                                        <div class="mt-2">
                                            <b>Aktivní klienti:</b><br />

                                            @foreach(var client in Model.User.User.ActiveClients)
                                            {
                                                <span class="badge">@client</span>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header">Aktivita v kanálech</div>
            <div class="card-body p-0">
                <table class="table table-sm table-bordered m-0 p-0">
                    <thead>
                        <tr>
                            <th class="border-top-0 border-left-0">Kanál</th>
                            <th class="border-top-0">Počet zpráv</th>
                            <th class="border-top-0 border-right-0">Poslední zpráva</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var channel in Model.User.Channels)
                        {
                            <tr>
                                <td>#@channel.Channel.Name</td>
                                <td>@FormatHelper.FormatWithSpaces(channel.Count)</td>
                                <td>@channel.LastMessageAt.ToLocaleDatetime()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>

<div class="row d-flex justify-content-center mt-3 mr-0">
    <div class="col-md-9">
        <a class="btn btn-secondary text-white" asp-action="Index">Zpět na seznam</a>
    </div>
</div>