@model Grillbot.Models.FileManager.FileManagerViewModel;

@{
    ViewData["Title"] = "Soubory";
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h4 class="card-title font-weight-light mb-0 pb-0">Soubory</h4>
        </div>

        <div class="card-header">
            <table class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th>
                            @if (Model.TotalCount == 0 || Model.TotalCount > 4)
                            {
                                <text>@Model.TotalCount.FormatWithSpaces() souborů</text>
                            }
                            else if (Model.TotalCount == 1)
                            {
                                <text>1 soubor</text>
                            }
                            else
                            {
                                <text>@Model.TotalCount.FormatWithSpaces() soubory</text>
                            }
                        </th>
                        <th class="text-right">@Model.TotalSize.FormatAsSize()</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="card-body">
            <ul>
                @foreach (var directory in Model.Files)
                {
                    <li>
                        @directory.Key (@directory.Value.Sum(x => x.FileInfo.Length).FormatAsSize())
                        <ul>
                            @foreach (var file in directory.Value)
                            {
                                <li>
                                    @file.Filename (@file.FileInfo.Length.FormatAsSize())
                                    (<a asp-action="Download" asp-route-filename="@file.Filename" asp-route-directory="@directory.Key" class="text-white text-underline" target="_blank">Stáhnout</a>,
                                    <a asp-action="Delete" asp-route-filename="@file.Filename" asp-route-directory="@directory.Key" class="text-white text-underline">Smazat</a>)
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>