@model Grillbot.Models.FileManager.FileManagerViewModel;

@{
    ViewData["Title"] = "Soubory";
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h4 class="card-title font-weight-light mb-0 pb-0">Soubory</h4>
        </div>

        <div class="card-header">
            <table class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th>
                            @if (Model.Files.Count == 0 || Model.Files.Count > 4)
                            {
                                <text>@Model.Files.Count.FormatWithSpaces() souborů</text>
                            }
                            else if (Model.Files.Count == 1)
                            {
                                <text>1 soubor</text>
                            }
                            else
                            {
                                <text>@Model.Files.Count.FormatWithSpaces() soubory</text>
                            }
                        </th>
                        <th class="text-right">@Model.Files.Sum(o => (long)o.Value).FormatAsSize()</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="card-body">
            <div class="d-flex flex-wrap justify-content-between">
                @foreach (var file in Model.Files)
                {
                    <a class="text-center mr-5 mb-3 text-white text-underline" style="width: 300px" asp-action="Download" asp-route-filename="@file.Key" title="Stáhnout" target="_blank">
                        <img src="~/img/file.png" alt="@file.Key" style="width: 80px" /><br />
                        <span>(@(((long)file.Value).FormatAsSize()))</span>
                        <span class="d-inline-block text-truncate" style="max-width: 100%" title="@file.Key">@file.Key</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>