@model Grillbot.Models.BotStatus.WebStatus;

@{ 
    ViewData["Title"] = "Stav bota";
}

<link rel="stylesheet" href="~/css/status.css" />

<div>
    <h2>Obecné</h2>
    <table class="table">
        <tr>
            <td>Větev:</td>
            <td>@Model.Simple.InstanceType</td>
        </tr>

        <tr>
            <td>Aktivní CPU čas: </td>
            <td>@Model.Simple.ActiveCpuTime</td>
        </tr>

        <tr>
            <td>Průměrná doba reakce:</td>
            <td>@Model.Simple.AvgReactTime ms</td>
        </tr>

        <tr>
            <td>Uptime:</td>
            <td>@(DateTime.Now - Model.Simple.StartTime)</td>
        </tr>

        <tr>
            <td>Využití RAM:</td>
            <td>@Model.Simple.RamUsage</td>
        </tr>

        <tr>
            <td>Spuštěno v:</td>
            <td>@Model.Simple.StartTime</td>
        </tr>

        <tr>
            <td>Počet vláken:</td>
            <td>@Model.Simple.ThreadStatus</td>
        </tr>
    </table>
</div>

<div>
    <h2>Volání příkazů</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Příkaz</th>
                <th>Počet volání</th>
                <th>Průměrný čas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var statItem in Model.CallStats)
            {
                <tr>
                    <td>@statItem.Command</td>
                    <td>@FormatHelper.FormatWithSpaces(statItem.CallsCount)</td>
                    <td>@statItem.AverageTime ms</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Logger</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Událost</th>
                <th>Počet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LoggerStats)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@FormatHelper.FormatWithSpaces(item.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Události</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Událost</th>
                <th>Počet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CalledEventStats)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Databáze</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tabulka</th>
                <th>Počet záznamů</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model.DBStatus)
            {
                <tr>
                    <td>@table.Key</td>
                    <td>@FormatHelper.FormatWithSpaces(table.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</div>